

  <meta charset="utf-8">
  <title>GIP Natuurwetenschappen</title>
  <style>
  table
  {
      width: 100%;
  }
  table tr
  {
      position: relative;
      height: 200px;
  }
  table td
  {
	   background: #9999ff;
     width: 100px;
     height: 100px;
	   color: snow;
  }
  #titleBox
  {
	 margin-left: 1%;
	 width: 98%;
	 text-align: center;
	 vertical-align: middle;
	 height: 200px;
	 border-radius: 2em;
	 background-color: #9999ff;
	 position: relative;
	 color: snow;
	 line-height: 200px;
  }

  #titleBox h1
  {
    font-size: auto;
  }
  #electron
{
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 100%;
	background-color: #4d1919;
	top: 400px;
	left: 50%;
  margin: -20px;
	font-size: 100px;
}

#center {
	width: 75px;
	height: 75px;
	position: relative;;;
	border-radius: 100%;
	background-color: #4d1919;
	top: 430.5px;
  left: 47.5%;
	font-size: 100px;
}
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://www.disite.be/elementen/sweetalert-dev.js"></script>
  <script src="http://malsup.github.io/jquery.corner.js"></script>
  <link rel="stylesheet" href="http://www.disite.be/elementen/sweetalert.css">


<script type="text/javascript">
	var afk ,elm;
	$.ajax({
        crossOrigin: true,
        dataType: "json",
        url: "http://www.disite.be/elementen/index.php?i=afk-elm",
        success: function(resp)
		{
			afk = resp.afk.split(";");
			elm = resp.elm.split(";");
			showElements();

			$("td").mouseover( function() {
			   var id = $(this).attr("id");
			   $(this).html(elm[id]);
			   $(this).css("background-color", "#000066");
			});
			$('td').mouseout( function() {
			   var id = $(this).attr("id");
			   $(this).html(afk[id]);
			   $(this).css("background-color","#9999ff");
			});
      $('td').click(function() {
        var id = $(this).attr("id");
        var element = elm[id];
		var afkorting = afk[id];
        swal({
      		title: element,
      		text: "Wilt u meer informatie weten over dit element?",
      		showCancelButton: true,
      		confirmButtonColor: '#9999ff',
      		confirmButtonText: 'Ja, heel zeker!',
      	},
        function()
		    {
		       fadeOutTable();
		       setTimeout(function() {showInfo(element,afkorting);}, 1);
			}
		);
      });
		}
   });

  function fadeOutTable()
  {
    $('td').each(function(i) {
      $(this).delay(100*i).fadeOut();
    });
  }
  function showInfo(element,afkorting)
  {
	  $('table').remove();
	  var div = document.createElement("div");
	  document.body.appendChild(div);
	  $(div).hide();
	  div.id ="titleBox";
	  div.innerHTML = "<h1>"+element+"</h1>";
	  var h1 = document.createElement("h1");

	  div.appendChild(h1);
	  $(div).fadeIn(2500);

	var atoom = document.createElement("div");
	atoom.id = "atoom";
	document.body.appendChild(div);

	var url = "http://www.disite.be/elementen/index.php?e="+afkorting;
	$.ajax({
		  crossOrigin: true,
		  dataType: "json",
		  url: url,
		  success: function(resp)
		  {
			maakAtoom(resp);
		  }
	});
  }
  function maakAtoom(resp)
  {
    var div = document.createElement("div");
	div.id ="center";
	document.body.appendChild(div);
	var schillen = [2,8,18,32,32,32,32,32,32,32,32,32,32,32];
	var atoomnummer = resp;
	var schilAfstand = 75;
	var delay = 0;
	for(var i = 0; i < schillen.length; i++)
	{
		var seconden = (i+1)*2;
		var schilnummer = i + 1;
		var sheet = window.document.styleSheets[0];
		sheet.insertRule(`@keyframes schil`+(i+1).toString()+` { from { transform: rotate(0deg) translate(-`+schilAfstand.toString()+`px) rotate(0deg); } to { transform: rotate(360deg) translate(-`+schilAfstand.toString()+`px) rotate(-360deg); } }`, sheet.cssRules.length);
		schilAfstand = schilAfstand + 75;
		if(atoomnummer > schillen[i])
		{
		var cooldown = seconden/schillen[i];
			for(var j = 0; j < schillen[i]; j++)
			{
				delay = delay - cooldown;
				var div = document.createElement("div");
				div.id = "electron";
				$(div).css("animation","schil" + schilnummer.toString()+" "+seconden.toString()+"s infinite linear");
				$(div).css("animation-delay",delay.toString()+"s");
				$(div).hide();
				document.body.appendChild(div);
			}
		}
		else if((atoomnummer <= schillen[i]) && (atoomnummer != 0))
		{
		var cooldown = seconden/atoomnummer;
			for(var j = 0; j < atoomnummer; j++)
			{
				delay = delay - cooldown;
				var div = document.createElement("div");
				div.id = "electron";
				$(div).css("animation","schil" + schilnummer.toString()+" "+seconden.toString()+"s infinite linear");
				$(div).css("animation-delay",delay.toString()+"s");
				document.body.appendChild(div);
		  $(div).hide();
			}
			atoomnummer = 0;
		}
		delay = 0;
	  atoomnummer = atoomnummer - schillen[i];
	}
	$('div').each(function(i) {
	  $(this).delay(10*i).fadeIn();
	});

  }
	function showElements()
	{
		var table = document.createElement("table");
		document.body.appendChild(table);
		for(var i = 0; i < (afk.length - 1); i = i + 4)
		{
			var tr = document.createElement("tr");

			var td = document.createElement("td");
			td.id = i;
			txt = document.createTextNode(afk[i]);
		    td.appendChild(txt);
			$(td).hide();
			tr.appendChild(td);
			td.height = td.width;

			td = document.createElement("td");
			td.id = i + 1;
			txt = document.createTextNode(afk[i+1]);
		    td.appendChild(txt);
			$(td).hide();
			tr.appendChild(td);
			td.height = td.width;

			td = document.createElement("td");
			td.id = i + 2;
			txt = document.createTextNode(afk[i+2]);
		    td.appendChild(txt);
			$(td).hide();
			tr.appendChild(td);
			td.height = td.width;

			td = document.createElement("td");
			td.id = i + 3;
			txt = document.createTextNode(afk[i+3]);
		    td.appendChild(txt);
			$(td).hide();
			tr.appendChild(td);
			td.height = td.width;

			table.appendChild(tr);

      var width = $('td').width();
      $('td').css('height',String(width));
		}
		$('td').each(function(i) {
			$(this).delay(100*i).fadeIn();
		});
	}
</script>
